<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Troncales SIP' %}</h1>

<table class="table">
    <thead>
        <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'Nombre' %}</th>
            <th>{% trans 'Caller ID' %}</th>
            <th colspan="2">{% trans 'Canales Máximos' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for sip_trunk in page_obj %}
        <tr>
            <td>{{ sip_trunk.id }}</td>
            <td><a href="{% url 'editar_troncal_sip' sip_trunk.id %}">{{ sip_trunk.nombre }}</a></td>
            <td>{{ sip_trunk.caller_id }}</td>
            <td>{{ sip_trunk.canales_maximos }}</td>
            <td>
                <a class="dropdown-item" href="{% url 'eliminar_troncal_sip' sip_trunk.pk %}">
                    <span class="icon icon-trash"></span>
                </a>
            </td>
        </tr>
   {% empty %}
    <tr>
        <td>{% trans 'No hay Troncales SIP configuradas' %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-light btn-sm" href="{% url 'crear_troncal_sip' %}" >{% trans 'Agregar' %}</a>
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'user_list' page=page_obj.previous_page_number%}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">{% trans 'Anterior' %}</span>
                </a>
            </li>
        {% endif %}

        <li class="page-item current">
            {%trans 'Pagina' %} {{ page_obj.number }} {% trans 'de' %} {{ paginator.num_pages }}.
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'user_list' page=page_obj.next_page_number %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">{% trans 'Siguiente' %}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
