<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_js %}
    <script src="{% static 'ominicontacto/JS/rutas-entrantes-lib.js' %}"></script>
    <script src="{% static 'ominicontacto/JS/ruta-entrante.js' %}"></script>
{% endblock %}

{% block content %}
    {% block header %}{% endblock %}
    <form action="" role="form" method="POST">
        <div class="row">
            {% include "base_form_fields.html" with form=form %}
        </div>
        <button type="submit" id="id_registrar" class="btn btn-primary">
            {% trans 'Guardar' %}
        </button>
    </form>
    <div class="modal fade" id="modalDestinoEntrante" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>{% trans 'Adicionar nuevo' %} </h4>
                </div>
                <form action="" role="form" method="POST">
                    <div class="modal-body" id="formDestinoEntrante">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
