{% if cluster == 0 %}
#!{{ install_prefix }}virtualenv/bin/python
{% else %}
#! /usr/bin/python
{% endif %}
# -*- coding: utf-8 -*-

# Copyright (C) 2018 Freetech Solutions

# This file is part of OMniLeads

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program.  If not, see http://www.gnu.org/licenses/.

# este script es invocado como una tarea programada para desloguear a los agentes que no lo hayan
# hecho manualmente después de un determinado tiempo

import os
import sys

from asterisk.manager import Manager, ManagerSocketException, ManagerAuthException, ManagerException
from datetime import datetime

INSTALL_PREFIX = os.getenv('INSTALL_PREFIX')
LOGOUT_AGI_LOG = '{0}log/logout-agi-errors.log'.format(INSTALL_PREFIX)

if os.path.exists(LOGOUT_AGI_LOG):
    append_write = 'a' # append if already exists
else:
    append_write = 'w' # make a new file if not

sys.stderr = open(LOGOUT_AGI_LOG, append_write)

def write_time_stderr(str_value):
    fecha = datetime.strftime(datetime.now(), '%Y-%m-%d %H:%M:%S.%f')
    sys.stderr.write("{0}: {1}".format(fecha, str_value))

def logout_inactive_users(users_activity_list, manager):
    for activity_line in users_activity_list.splitlines():
        if activity_line.find("Unavailable") != -1:
            fields_activity = activity_line.split()
            id_user = fields_activity[1]
            sip_number = fields_activity[2].replace("(SIP/", "").replace(")", "")
            channel = 'Local/066LOGOUT@oml-agent-actions/n'
            exten = ''
            # context = ''
            # priority = ''
            application = 'hangup'
            # data = ''
            timeout = 5000
            caller_id = 'auto logout'
            variables = {'AUTOLOGOUT': '{0}-{1}'.format(sip_number, id_user)}
            manager.originate(channel, exten, application=application, timeout=timeout,
                              caller_id=caller_id, variables=variables)

manager = Manager()

ami_manager_user = os.getenv('AMI_USER')
ami_manager_pass = os.getenv('AMI_PASSWORD')
ami_manager_host = os.getenv('ASTERISK_HOSTNAME')

try:
    manager.connect(ami_manager_host)
    manager.login(ami_manager_user, ami_manager_pass)
    users_activity_list = manager.command("queue show").data
    logout_inactive_users(users_activity_list, manager)
except ManagerSocketException as e:
    write_time_stderr("Error connecting to the manager: {0}".format(e.message))
    sys.exit(1)
except ManagerAuthException as e:
    write_time_stderr("Error logging in to the manager: {0}".format(e.message))
    sys.exit(1)
except ManagerException as e:
    write_time_stderr("Error {0}".format(e.message))
    sys.exit(1)
finally:
    manager.close()
