<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div>
    <form action = "" method = "post">

        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="form-row">
            <div class="col-md-6">
                {{ form.nombre.label_tag }} {{ form.nombre }}
                {{ form.nombre.errors }}
            </div>
            <div class="col-md-6">
                {{ form.auto_unpause.label_tag }} {{ form.auto_unpause }}
                {{ form.auto_unpause.errors }}
                <small class="form-text text-muted">
                    {{ form.auto_unpause.help_text }}
                </small>
            </div>
            <div class="col-md-3">
                {{ form.auto_attend_ics.label_tag }} {{ form.auto_attend_ics }}
                {{ form.auto_attend_ics.errors }}
            </div>
            <div class="col-md-3">
                {{ form.auto_attend_inbound.label_tag }} {{ form.auto_attend_inbound }}
                {{ form.auto_attend_inbound.errors }}
            </div>
            <div class="col-md-3">
                {{ form.auto_attend_dialer.label_tag }} {{ form.auto_attend_dialer }}
                {{ form.auto_attend_dialer.errors }}
            </div>
            <div class="col-md-3">
                {{ form.auto_pause.label_tag }} {{ form.auto_pause }}
                {{ form.auto_pause.errors }}
            </div>
        </div>


        <hr>
        <button type="submit" id="id_registrar" class="btn btn-primary">
            {% trans 'Guardar' %}
        </button>
    </form>

</div>

{% endblock %}
