<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<h1>{% trans 'Pausas' %}</h1>

<table class="table">
    <thead>
        <tr>
            <th>{% trans 'id' %}</th>
            <th>{% trans 'Nombre' %}</th>
            <th>{% trans 'Acciones' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for pausa in pausas_activas %}
        <tr>
            <td>{{ pausa.id }}</td>
            <td>{{ pausa.nombre }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownPauseActive" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'Opciones' %}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownPauseActive">
                        <a class="dropdown-item" href="{% url 'pausa_update' pausa.id %}">
                            <span class="icon icon-pencil"></span>{% trans 'Editar' %}
                        </a>
                        <a class="dropdown-item" href="{% url 'pausa_delete' pausa.id %}">
                            <span class="icon icon-trash"></span>{% trans 'Eliminar' %}
                        </a>
                    </div>
                </div>
            </td>
        </tr>
   {% empty %}
    <tr>
        <td colspan="3">{% trans 'No existen pausas activas' %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if pausas_eliminadas %}

<div>
    <h2>Pausas Eliminadas </h2>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans 'id' %}</th>
                <th>{% trans 'Nombre' %}</th>
                <th>{% trans 'Acciones' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for pausa in pausas_eliminadas %}
            <tr>
                <td>{{ pausa.id }}</td>
                <td>{{ pausa.nombre }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownPauseDeleted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans 'Opciones' %}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownPauseDeleted">
                            <a class="dropdown-item" href="{% url 'pausa_update' pausa.id %}">
                                <span class="icon icon-pencil"></span>{% trans 'Editar' %}
                            </a>
                            <a class="dropdown-item" href="{% url 'pausa_delete' pausa.id %}">
                                <span class="icon fas fa-redo"></span>{% trans 'Reactivar' %}
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
