<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_js %}
    <script type="text/javascript">
     $(function(){
       $(".btn-submit").click(function (){
         var campana_id = $(this).attr("id");
         var action = $(this).attr("name");
         submit_form(campana_id, action);
       })

       function submit_form(campana_id, action){
         $("#campana_id").val(campana_id);
         $("#form_estados_campanas").attr("action", action);
         $("#form_estados_campanas").submit();
       }
     });


     function mostrar_campanas_ocultas() {

       $.get('{% url  'campana_manual_mostrar_ocultas' %}',
             function (data) {
               $('#t_body_borradas').html(data);

             });
     }
     ;
    </script>
{% endblock %}

{% block content %}
    {% block titulo_lista_campanas %}
        <h1>{% trans 'Campañas manuales' %}</h1>
    {% endblock %}

    <div>
        <form id="form_estados_campanas" role="form" method="post">
            {% csrf_token %}
            <input type="hidden" id="campana_id" name="campana_id">
            <h2>{% trans 'Campañas Activas' %}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans 'Nombre' %}</th>
                        <th>{% trans 'Estado' %}</th>
                        <th>{% trans 'Acciones' %}&nbsp;&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% block campanas_activas %}{% endblock %}
                </tbody>
            </table>
            <br>

            {% block campanas_finalizadas %}{% endblock %}

            <h2>{% trans 'Campañas eliminadas' %}</h2>
            <a href="#" class="btn btn-light btn-sm" onclick="{{ mostrar_ocultas_tipo|default:"mostrar_campanas_ocultas()" }}" >
                {% trans 'Mostrar ocultas' %}
            </a>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans 'Nombre' %}</th>
                        <th>{% trans 'Estado' %}</th>
                        <th>{% trans 'Acciones' %}</th>
                    </tr>
                </thead>
                <tbody id="t_body_borradas">
                    {% block campanas_borradas %}{% endblock %}
                </tbody>
            </table>
        </form>
    </div>

    <div class="modal fade" id="myMapModal">
        <div class="modal-dialog" id="modal_ventana">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 id="address" class="modal-title"></h1>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div id="map-canvas" class=""></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cerrar' %}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}
