<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campana/wizard_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/opcion-calificacion.css' %}"></link>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'ominicontacto/JS/jquery.formset.js' %}"></script>
    <script type="text/javascript">
     /* adiciona plugin 'jquery.formset.js' para generar forms dinamicamente
        en un formset  */
     $('.linkFormset').formset({
       addText: AGREGAR_CAMPO,
       deleteText: REMOVER_CAMPO,
       prefix: '{{ wizard.form.prefix }}',
       addCssClass: 'addFormset btn btn-outline-primary',
       deleteCssClass: 'deleteFormset btn btn-outline-danger',
       added: function (row) {
         /* inicializa el nuevo formulario de opción de calificación */
         $(row.find('.nombre > select')).prop( "disabled", false );
         var $tipo = $(row.find('.tipo > select'));
         $tipo.prop( "disabled", false );
         // Crea las opciones de tipo, para que no aparezca la de agenda.
         var tipoOpciones = {};
         tipoOpciones[SIN_ACCION] = "0";
         tipoOpciones[GESTION] = "1";
         $tipo.empty();
         $.each(tipoOpciones, function(key,value) {
           $tipo.append($("<option></option>")
             .attr("value", value).text(key));
         });
         var $formulario = $(row.find('.formulario > select'));
         $formulario.prop( "disabled", false );
         /* Suscribo al control que deshabilita el campo formulario segun el tipo */
         subscribeToChangeControl($tipo);
       },
     });
     /* oculta los links de eliminación para los formularios de opciones de calificación
        que no deben ser eliminados */
     $('.readOnly>td').find('.deleteFormset').attr('class', 'hidden');

      /* Suscribo al control que deshabilita el campo formulario segun el tipo */
      $(function() {
        $('[name$=-tipo]').each(function() {
            subscribeToChangeControl(this);
        })
      });

      function subscribeToChangeControl(type_input) {
        setAssociatedFormDisabledStatus(type_input);
        $(type_input).change(function(){
            setAssociatedFormDisabledStatus(type_input);
        });
      }

      function setAssociatedFormDisabledStatus(type_input){
        var type = $(type_input).val();
        var form_input_name = $(type_input).prop('name').slice(0,-4) + 'formulario';
        if (type == '1'){
            $('#id_' + form_input_name).prop('disabled', false);
        }
        else {
            $('#id_' + form_input_name).prop('disabled', true);
            $('#id_' + form_input_name).val('');
        }
      }

    </script>
{% endblock %}

{% block nav %}
    <h1>{% trans 'Campaña Entrante: Opciones de calificación' %}</h1>

    <ul class="nav nav-indicators">
            <li class="disabled"><a>{% trans 'Campaña' %}</a></li>
            <li class="disabled"><a>{% trans 'Datos básicos de la cola' %}</a></li>
            <li class="active"><a>{% trans 'Opciones de calificación' %}</a></li>
            {% if interaccion_crm %}
                <li class="disabled"><a>{% trans 'Interacción con Sitio Externo' %}</a></li>
            {% endif %}
            {% if not es_template and create %}
                <li class="disabled"><a>{% trans 'Dar permiso a supervisores' %}</a></li>
                <li class="disabled"><a>{% trans 'Agregar agentes' %}</a></li>
            {% endif %}
    </ul>
{% endblock %}

{% block formset_render %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            {% if wizard.form.non_form_errors %}
                {% for error in wizard.form.non_form_errors %}
                    <div class="alert alert-warning">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            {% for form in wizard.form.forms %}
                <tr
                    {% if form.instance.usada_en_calificacion %}
                    class="linkFormset readOnly"
                    data-toggle="tooltip" data-placement="top"
                    title="Esta opción de calificación ya está siendo usada en la campaña, no se permitirá su eliminación, tenga en cuenta además que si modifica su nombre esto puede causarle confusión al consultar los reportes"
                    {% elif form.instance.es_agenda %}
                    class="linkFormset readOnly"
                    {% else %}
                    class="linkFormset"
                    {% endif %}>
                    <td>
                    {% if form.instance.pk %}
                        {{ form.DELETE }}
                    {% endif %}
                    </td>
                    <td class="nombre">
                        {{ form.nombre.errors }}
                        {{ form.nombre|add_class:"form-control" }}
                    </td>
                    <td class="tipo">
                        {{ form.tipo.errors }}
                        {{ form.tipo|add_class:"form-control" }}
                    </td>
                    {% if form.formulario %}
                        <td class="formulario">
                            {{ form.formulario.errors }}
                            {{ form.formulario|add_class:"form-control fieldsFormset" }}
                        </td>
                    {% endif %}

                    <td>{{ form.id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ wizard.form.management_form }}
{% endblock %}
