<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campana_manual/campana_manual_base.html" %}
{% load i18n %}
{% load static %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'ominicontacto/JS/interaccionsitioexterno.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            interaccionUrl();
        });
    </script>
{% endblock %}

{% block title_campana %}
    <h1>{% trans 'Campaña Preview: Datos Básicos' %}</h1>
{% endblock %}

{% block nav %}
    <h1>{% trans 'Campaña Preview: Datos básicos' %}</h1>

    <ul class="nav nav-indicators">
        <li class="active"><a>{% trans 'Campaña' %}</a></li>
        <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
        {% if interaccion_crm %}
            <li class="disabled"><a>{% trans 'Interacción con Sitio Externo' %}</a></li>
        {% endif %}
        {% if not es_template and create %}
            <li class="disabled"><a>{% trans 'Dar permiso a supervisores' %}</a></li>
            <li class="disabled"><a>{% trans 'Adicionar agentes' %}</a></li>
        {% endif %}
   </ul>
{% endblock %}

{% block interaccion %}
    {% if form.instance.pk %}
        {% if form.instance.tipo_interaccion == 2 %}
            <div class="col-md-6">
                <label>{% trans "Sitio Externo" %}</label>
                {{ form.sitio_externo }}
                {{ form.sitio_externo.errors }}
            </div>
        {% endif %}
    {% else %}
        {{ form.tipo_interaccion.errors }}
        <div class="col-md-6">
          <label> {% trans "Tipo de Interacción" %}</label>
            <div class="myradio" onclick="interaccionUrl()">{{ form.tipo_interaccion.0 }}</div>
            <div class="myradio" onclick="interaccionUrl()">{{ form.tipo_interaccion.1 }}</div>
        </div>
        <div class="col-md-6">
            <label><div class="myradio" id="url_externa">
            {% trans "Url Externa" %}</div> </label>
            {{ form.sitio_externo.errors }}
            {{ form.sitio_externo }}
        </div>
    {% endif %}
{% endblock interaccion %}

{% block tiempo_desconexion %}
    <div class="col-md-6">
        {{ form.tiempo_desconexion.errors }}
        <label>{% trans 'Tiempo de desconexión:' %}</label>
        <!-- <div class="col-sm-3" data-toggle="tooltip" data-placement="top"
             title="A partir de este tiempo en minutos, un agente será desconectado de cualquier contacto que tenga asignado y no haya atendido">

        </div> -->
        {{ form.tiempo_desconexion }}
        <small class="form-text text-muted">
            {% trans 'A partir de este tiempo en minutos, un agente será desconectado de cualquier contacto que tenga asignado y no haya atendido.' %}
        </small>
    </div>
{% endblock %}
