<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load static %}
{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap.min.css' %}" >

        <!-- JQuery & Datatables -->
        <link rel="stylesheet" href="{% static 'ominicontacto/CSS/jquery.dataTables.min.css' %}" >
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        {% compress js %}
        <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'ominicontacto/JS/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'ominicontacto/JS/campanasPreviewAgente.js' %}"></script>
        {% endcompress %}
        <script type="text/javascript">
            var liberar_contacto_url = "{% url 'liberar_contacto_asignado_agente' %}";
            var calificar_contacto_url = "{% url 'calificacion_formulario_update_or_create' '0000' '1111' %}";
        </script>
    </head>
    <body>
        <script type="text/javascript" src="{% static 'ominicontacto/JS/csrf.js' %}"></script>
        <div class="row" style="margin-top:5%; margin-left:5%;">
            <div class="col-md-5">
                <table id="campanasPreviewTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{% trans "Campaña" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campana_pk, campana_nombre in campanas_preview_activas %}
                            <tr>
                                <td>
                                    <button class="obtener-contacto btn btn-primary" data-campana="{{ campana_pk }}"
                                            data-toggle="tooltip" data-placement="top"
                                            title="{% trans 'Haga click para obtener un contacto de la campaña' %}">{{ campana_nombre }}</button>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">{% trans "No hay campañas" %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="panel-contacto" class="col-md-4 col-md-offset-1 hidden">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Datos contacto" %}</h3>
                    </div>
                    <div class="panel-body">
                        <form id="llamar_preview" action="{% url 'agente_llamar_contacto' %}" method="POST" role="form">
                            {% csrf_token %}
                            <input type="hidden" id="pk_agente" name="pk_agente">
                            <input type="hidden" id="pk_contacto" name="pk_contacto">
                            <input type="hidden" id="pk_campana" name="pk_campana">
                            <input type="hidden" id="campana_nombre" name="campana_nombre">
                            <input type="hidden" id="click2call_type" name="click2call_type" value="preview">
                            <input type="hidden" id="tipo_campana" name="tipo_campana" value="4">
                            <button id="llamar_contacto" type="submit" class="hidden"></button>
                        </form>
                        <button id="validar_contacto" class="btn btn-info">
                            <span id="contacto-telefono" class="glyphicon glyphicon-earphone"
                                  aria-hidden="true" title="{% trans 'Haga click para llamar al contacto' %}"></span>
                        </button>
                        <span>

                        <button id="liberar_contacto" class="btn btn-warning" style="display:none">
                            <span class="glyphicon glyphicon-user" aria-hidden="true" title="{% trans 'Haga click para liberar al contacto' %}"> {% trans 'Liberar' %} </span>
                        </button>
                        <a href="#" id="calificar_contacto" class="btn btn-primary" style="display:none">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="{% trans 'Haga click para editar la calificación' %}"> {% trans 'Calificar' %} </span>
                        </a>
                        </span>
                        <p class="text-danger" id="errorAsignacionContacto"></p>
                    </div>
                    <div class="panel-footer" id="contacto-datos">
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </body>
</html>
